.container-scroll::-webkit-scrollbar {
  height: 8px;               /* width of the entire scrollbar */
}

.container-scroll::-webkit-scrollbar-track {
  background: rgb(48, 47, 45);        /* color of the tracking area */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.container-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(48, 47, 45); ;  /* creates padding around scroll thumb */
  cursor: pointer;
}
